<select name="{{ name }}">
	<options>
		{% for state in states %}
		<option value="{{ state.id_state }}" {% if (state.id_state == default) %}selected{% endif %}>{{ state.label }}</option>
		{% endfor %}
	</options>
</select>