services:
	- App\Model\Structures\StaticGlobalSettings
	- App\Libs\ImageManager
	- App\Libs\Initialiser
	- App\Libs\Colors\Colors

	- App\Controls\NavigationMenu\INavigationMenuFactory
	- App\Controls\IStateViewFactory
	- App\Controls\IGameViewFactory
	- App\Controls\IPictureViewFactory
	- App\Controls\IPlatformViewFactory

	- App\Forms\FormFactory
	- App\Forms\ISignInFormFactory
	- App\Forms\IEditPlatformFormFactory
	- App\Forms\IEditGameFormFactory
	- App\Forms\IAddPictureFormFactory

	- App\Model\Services\Platforms
	- App\Model\Services\Games
	- App\Model\Services\Pictures
	- App\Model\Services\States
	- App\Model\Services\Tags

	router: App\RouterFactory::createRouter
