services:
	- App\Libs\GASettings
	- App\Libs\ImageManager
	- App\Libs\Initialiser

	- App\Controls\INavigationMenuFactory

	- App\Forms\FormFactory
	- App\Forms\ISignInFormFactory
	- App\Forms\IEditPlatformFormFactory
	- App\Forms\IEditGameFormFactory
	- App\Forms\IAddPictureFormFactory

	- App\Model\Services\Platforms
	- App\Model\Services\Games
	- App\Model\Services\Pictures
	- App\Model\Services\States

	router: App\RouterFactory::createRouter