{*
    @param picture
    [ @param imgClass ]
*}
{define ifClass}{ifset $class}class="{$class}"{/ifset}{/define}

{if $picture && file_exists($image_dir . $picture->path)}
    <img src="{$basePath}/images/games/{$picture->path}" alt="{$picture->description}" {include #ifClass}>
{else}
    <img src="{$basePath}/images/g404.png"{include #ifClass} {if $picture} title="{$picture->path}"{/if}>
{/if}