<div class="game-mini">
	{if $game->primary_picture}
		<img src="{$basePath}/images/games/{$game->primary_picture->path}" class="thumbnail">
	{else}
		<img src="{$basePath}/images/g404.png" class="thumbnail">
	{/if}
	<span>{$game->name}</span>
	<div class="states">
		<div class="state state-{$game->cartridge_state->class}" title="Cartridge: {$game->cartridge_state->label}">
			<i class="glyphicon glyphicon-cog"></i>
		</div>
		<div class="state state-{$game->manual_state->class}" title="Manuál: {$game->manual_state->label}">
			<i class="glyphicon glyphicon-book"></i>
		</div>
		<div class="state state-{$game->packing_state->class}" title="Balení: {$game->packing_state->label}" >
			<i class="glyphicon glyphicon-inbox"></i>
		</div>
	</div>
	{if $user->isLoggedIn()}
		<div class="controls">
			<a href="{plink edit $game->id}" class="btn btn-sm btn-info">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
		</div>
	{/if}
</div>