{% extends layout %}


{% block bodyContent %}
	<h1>Vypis her</h1>
	<div class="gameList row">
		{% for i in 0..(columns['count'] - 1)%}
			<div class='col-xs-{{ 12 / columns['count'] }}'>
				{% for g in columns['list'][i] %}
					{% include 'mini/game.twig' with { 'game': g} %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	
{% endblock %}