/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.11.2015, 15:19:15
    Author     : Stepan
*/
body{
	background: hotpink;
}


#headder{
	font-size: 4em;
	font-family: Impact;
	margin: 12px 0px 20px 60px;
}

#navMenu{
	
}

#navMenu menu{
}
#navMenu li{
	background: yellow;

	color: black;
	font-size: 1.2em;
	font-weight: 900;
}

#navMenu li.active{
	background: peachpuff;
}

#bodyContent{
	margin-bottom: 20px;
}