body{
	background-color: hotpink;
	font-size: 15px;
	line-height: 1.6;
}


#headder{
	font-size: 4em;
	font-family: Impact;
	margin: 12px 0px 20px 60px;
}

#navMenu{
	
}

#navMenu menu{
}
#navMenu li{
	background: yellow;

	color: black;
	font-size: 1.2em;
	font-weight: 900;
}

#navMenu li.active{
	background: peachpuff;
}

#bodyContent{
	margin-bottom: 20px;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

.game .frame img{
	max-width:100%;
}


.img-thumbnail img{
	max-height:100%;
}
